.container {
  display: flex;
  margin-top: 10px;
}

@media screen and (max-width: 900px) {
  .container:first-child{
    /* display: none; */
  }
 
  .sidebarContainer{
      display: none;
  }
}
.sidebarContainer{
  flex: 1;
}