* {
  margin: 0;
  font-family: "Source Sans Pro", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


:root{
  --primary:rgb(21, 103, 180);
  --secondary:rgb(16, 18, 165)
}

code {
  font-family: "Source Sans Pro", sans-serif;


}
a{
  text-decoration: none;
  color: inherit;
}
li{
  list-style-type: none;
}